.btn {
	display: block;
	width: 162px;
	height: 31px;
	padding: 8px 0;
	background: #B0E31B;
	box-shadow: 0 4px 4px rgba(203, 196, 196, 0.1);
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 108.84%;
	text-align: center;
	color: #383E4B;
}