.sec-category {
	min-height: 742px;
	padding: 50px 0;
	background: $bgColorTwo;
	
	&__title {
		@include section-title;
		margin-bottom: 25px;
	}
	
	&__divider {
		@include section-divider;
		margin: 0 auto 30px;
	}
	
	&__subtitle {
		@include section-subtitle;
		margin-bottom: 50px;
	}
	
	@media (max-width: $screen-lg) {
		min-height: 670px;
		padding: 80px 0;
	}
	
	@media (max-width: $screen-sm) {
		min-height: 592px;
	}
	
	@media (max-width: $screen-xs) {
		
		&__subtitle br {
			display: none;
		}
	}
}