.sec-product-card {
	padding: 15px 0 60px;
	
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-gap: 25px;
		padding: 20px 12px;
	}
	
	@media (max-width: $screen-md) {
		
		&__wrapper {
			grid-template-columns: 100%;
		}
	}
}