.sec-reading {
	min-height: 549px;
	padding: 90px 0;
	background: $bgColorTwo;
	
	&__title {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 42px;
		line-height: 51px;
		letter-spacing: -0.5px;
		color: #383838;
	}
	
	&__text {
		margin-left: 30px;
		vertical-align: middle;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		color: rgba(17, 17, 17, 0.8);
	}
	
	@media (max-width: $screen-md) {
		
		&__title {
			font-size: 37px;
		}
		
		&__text {
			display: block;
			margin: 12px 0 0;
		}
	}
	
	@media (max-width: $screen-xs) {
		text-align: center;
		
		&__title {
			font-size: 35px;
			margin-bottom: 80px;
		}
	}
}