.search {
	
	&__link {
		display: none;
		transition: .3s ease;
		cursor: pointer;
		
		&.is-Show {
			display: block;
		}
		
		svg {
			width: 20px;
			height: 20px;
		}
		
		&:hover {
			
			svg {
				
				path {
					fill: grey;
				}
			}
		}
	}
}