.tel {
	position: relative;
	font-weight: $fontWeightTwo;
	font-size: $fontSizeTwo;
	line-height: $lineHeightTwo;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $fontColorTree;
	
	&__number {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -99px;
		display: block;
		min-width: 148px;
		padding-right: 20px;
		opacity: 0;
		visibility: hidden;
		transition: .9s ease-in-out;
	}
	
	&:hover {
		
		.tel__number {
			right: 100%;
			opacity: 1;
			visibility: visible;
			
			@media (max-width: $screen-xs) {
				right: -999px;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}