.customers {
	background: $bgColor;
	box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
	border-radius: 30px;
	
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 53px 40px 38px;
	}
	
	&__title {
		margin-bottom: 7px;
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
	}
	
	&__subtitle {
		font-weight: 400;
		color: $fontColorGreen;
	}
	
	&__input {
		width: 216px;
	}
	
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 40px 40px 38px;
	}
	
	&__description {
		color: $fontColorGreyTwo;
		margin-right: 5px;
	}
	
	@media screen and (max-width: $screen-md) {
		
		&__footer,
		&__header {
			padding: 20px 10px;
		}
	}
	
	@media screen and (max-width: $screen-xs) {
		
		&__header {
			flex-direction: column;
			align-items: start;
		}
		
		&__info {
			margin-bottom: 10px;
		}
		
		&__input {
			width: 100%;
		}
		
		&__footer {
			flex-direction: column;
		}
		
		&__description {
			margin-bottom: 10px;
		}
	}
}