// === Variables ==

// === Font ===
$fontSize: 16px;
$fontColorMain: rgba(255, 255, 255);
$fontWeight: 400;
$fontMain: 'Popins', Ariel, Helvetica, sans-serif;
$lineHeight: 20px;

// === Background Color ===
$bgColor: #222222;
$colorMain: #07D4FF;

// === Responsive breakpoints ===
$screen-container: 1400px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 575px;