.sec-info {
	padding-top: 110px;
	background-color: $bgColorTwo;
	
	&__wrapper {
		padding: 0 45px;
	}
	
	@media (max-width: $screen-lg) {
		
		&__wrapper {
			padding: 0;
		}
	}
	
	@media (max-width: $screen-sm) {
		min-height: 615px;
		padding-top: 36px;
	}
}
