.input {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	cursor: pointer;
	
	&__title {
		font-size: 13px;
		line-height: 21px;
		color: rgba(54, 54, 54, 0.5);
		
		&_request,
		&_question {
			color: rgba(255, 255, 255, 0.5);
		}
	}
	
	&__field {
		padding: 0 0 8px;
		border: none;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		
		&::placeholder {
			font-size: 14px;
			line-height: 23px;
			color: $fontColorOne;
		}
		
		&_request,
		&_question {
			background-color: $bgColorTwo;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			color: $fontColorThird;
			
			&::placeholder {
				color: $fontColorThird;
			}
		}
	}
	
	@media (max-width: $screen-sm) {
		
		&__title {
			color: rgba(255, 255, 255, 0.5);
		}
		
		&__field {
			
			background-color: $bgColorTwo;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			
			&::placeholder {
				color: $fontColorThird;
				line-height: 19px;
			}
		}
	}
}