// === Variables ==

// === Font ===
$fontSize: 14px;
$fontColorMain: #292D32;
$fontColorBlack: #000000;
$fontColorDark: #404B52;
$fontColorDarkGrey: #838383;
$fontColorGrey: #9197B3;
$fontColorWhite: #fff;
$fontColorLight: #757575;
$fontColorGreen: #16C098;
$fontColorPlaceholderGrey: #B5B7C0;
$fontColorGreyTwo: #B5B7C0;
$fontColorDarkGreen: #008767;
$fontColorRed: #DF0404;
$fontWeight: 500;
$fontMain: 'Poppins', Arial, Helvetica, sans-serif;
$lineHeight: 21px;

// === Background Color ===
$bgColor: #FFFFFF;
$bgColorViolet: #5932EA;
$bgColorGrey: #9197B3;
$bgColorWhite: #F5F5F5;
$bgColorLightGrey: #FAFBFF;
$bgColorGreen: rgba(22, 192, 152, 0.38);
$bgColorPink: #FFC5C5;

// === Responsive breakpoints ===
$screen-container: 1440px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 575px;