// === Variables ==

// === Font ===
$fontSize: 16px;
$fontColorOne: #363636;
$fontColorTwo: #E3B873;
$fontColorThird: #FFFFFF;
$fontWeight: 400;
$fontMain: 'Nunito Sans', sans-serif;
$lineHeight: 20px;

// === Background Color ===
$bgColor: #ffffff;
$bgColorTwo: #131313;
$bgColorTree: #E3B873;

// === Responsive breakpoints ===
$screen-container: 1260px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 575px;