.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: $zIndexHeader;
	padding: 24px 0;
	background-color: $bgColorTwo;
	
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 4px;
	}
}