.contact {
	padding: 104px 0;
	
	&__icons {
		width: 100%;
		margin: 0 auto 56px;
	}
	
	&__wrapper {
		display: flex;
		justify-content: space-between;
		column-gap: 24px;
	}
	
	&__item {
		display: flex;
		justify-content: space-between;
		flex: 1 1 411px;
		max-width: 411px;
	}
	
	&__info {
	
		&_mb24 {
			margin-bottom: 24px;
		}
	}
	
	&__text {
		margin-bottom: 8px;
		font-weight: $fontWeightOne;
		font-size: $fontSizeFive;
		color: $fontColorFive;
	}
	
	@media (max-width: $screen-sm) {
		padding: 64px 0;
		
		&__icons {
			margin-bottom: 29px;
		}
		
		&__item {
			flex-direction: column;
			justify-content: start;
		}
		
		&__block {
			margin-bottom: 24px;
		}
	}
	
	@media (max-width: $screen-xs) {
		
		&__wrapper {
			flex-direction: column;
		}
		
		&__item {
			flex: 1 1 auto;
			max-width: 100%;
			margin-bottom: 32px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}