.nav {
	display: flex;
	align-items: center;
	margin: 0 -15px;
	
	&__item {
		margin: 0 15px;
	}
	
	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 29px;
		
		&:hover,
		&:focus,
		&:active,
		&_active {
			color: $fontColorLinkNavActive;
		}
		
		&:active {
			opacity: .6;
		}
	}
	
	&__menu {
		flex-direction: column;
		margin: 0;
		color: white;
	}
	
	&__menu &__item {
		margin: 0 0 10px;
		
		&:last-child {
			margin: 0;
		}
	}
}