// === Variables ==

// === Font ===
$fontSize: 16px;
$fontColorOne: #111111;
$fontWeight: 500;
$fontMain: 'Inter', Arial, Helvetica sans-serif;
$lineHeight: 20px;

// === Background Color ===
$bgColor: #fff;
$bgColorTwo: #F4F1EA;
$bgColorThird: #5D7261;

// === Responsive breakpoints ===
$screen-container: 1200px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 575px;

@media (max-width: $screen-lg) {

}

@media (max-width: $screen-md) {

}
@media (max-width: $screen-sm) {

}
@media (max-width: $screen-xs) {

}