.checkbox {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
	cursor: pointer;
	
	&__input {
		position: absolute;
		left: -9999999px;
		opacity: 0;
		
		&:checked + .checkbox__value {
			border: 1px solid #333;
			background-color: #333;
			
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	&__value {
		position: relative;
		width: 18px;
		height: 18px;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 2px;
		transition: .3s;
		
		&:hover {
			background-color: #ccc;
		}
		
		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 10px;
			height: 10px;
			margin: auto;
			background: url("../img/icons/check.svg") center no-repeat;
			transition: .3s;
		}
	}
	
	&__title {
		margin-left: 16px;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: #111;
	}
	
	&__number {
		margin-left: auto;
		opacity: 0.5;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		color: #111;
	}
}